<!DOCTYPE html>
<html>
<head>
 <title></title>
</head>
<body>
<style>
 td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
      }
</style>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for product names..">
 <table style="width:100%" id="myTable">
  <tr>
    <th>Product</th>
    <th>Product Name</th>
    <th>Brand</th>
    <th>Registrant</th>
    <th>Producer</th>
  </tr>
     {% for row in data %}
     <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
    </tr>
  {% endfor %}
  </table>
<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
</body>
</html>